<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>opencover</Format>
					
					<CodeCoverage>

						<!-- Match assembly file paths: -->
						<ModulePaths>
							<Include>
								<ModulePath>.*\.dll$</ModulePath>
								<ModulePath>.*\.exe$</ModulePath>
							</Include>
							<Exclude>
								<ModulePath>.*CPPUnitTestFramework.*</ModulePath>
							</Exclude>
						</ModulePaths>

						<!-- Match fully qualified names of functions: -->
						<!-- (Use "\." to delimit namespaces in C# or Visual Basic, "::" in C++.)  -->
						<Functions>
							<Exclude>
								<Function>.*get_.*</Function>
								<Function>.*set_.*</Function>
								<Function>^std::.*</Function>
								<Function>^ATL::.*</Function>
								<Function>.*::__GetTestMethodInfo.*</Function>
								<Function>^Microsoft::VisualStudio::CppCodeCoverageFramework::.*</Function>
								<Function>^Microsoft::VisualStudio::CppUnitTestFramework::.*</Function>
							</Exclude>
						</Functions>

						<!-- Match attributes on any code element: -->
						<Attributes>
							<Exclude>
								<!-- Don't forget "Attribute" at the end of the name -->
								<Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
								<Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
								<Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
								<Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
							</Exclude>
						</Attributes>

						<!-- Match the path of the source files in which each method is defined: -->
						<Sources>
							<Exclude>
								<Source>.*\\atlmfc\\.*</Source>
								<Source>.*\\vctools\\.*</Source>
								<Source>.*\\public\\sdk\\.*</Source>
								<Source>.*\\microsoft sdks\\.*</Source>
								<Source>.*\\vc\\include\\.*</Source>
							</Exclude>
						</Sources>

						<!-- Match the company name property in the assembly: -->
						<CompanyNames>
							<Exclude>
								<CompanyName>.*microsoft.*</CompanyName>
							</Exclude>
						</CompanyNames>

						<!-- Match the public key token of a signed assembly: -->
						<PublicKeyTokens>
							<!-- Exclude Visual Studio extensions: -->
							<Exclude>
								<PublicKeyToken>^B77A5C561934E089$</PublicKeyToken>
								<PublicKeyToken>^B03F5F7F11D50A3A$</PublicKeyToken>
								<PublicKeyToken>^31BF3856AD364E35$</PublicKeyToken>
								<PublicKeyToken>^89845DCD8080CC91$</PublicKeyToken>
								<PublicKeyToken>^71E9BCE111E9429C$</PublicKeyToken>
								<PublicKeyToken>^8F50407C4E9E73B6$</PublicKeyToken>
								<PublicKeyToken>^E361AF139669C375$</PublicKeyToken>
							</Exclude>
						</PublicKeyTokens>

						<!-- We recommend you do not change the following values: -->

						<!-- Set this to True to collect coverage information for functions marked with the "SecuritySafeCritical" attribute. Instead of writing directly into a memory location from such functions, code coverage inserts a probe that redirects to another function, which in turns writes into memory. -->
						<UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
						<!-- When set to True, collects coverage information from child processes that are launched with low-level ACLs, for example, UWP apps. -->
						<AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
						<!-- When set to True, collects coverage information from child processes that are launched by test or production code. -->
						<CollectFromChildProcesses>True</CollectFromChildProcesses>
						<!-- When set to True, restarts the IIS process and collects coverage information from it. -->
						<CollectAspDotNet>False</CollectAspDotNet>

					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>