@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="main-body">
    <div>
        <div class="container pt-2 p-3">
            <div class="row d-lg-flex">
                <div class="col-12">
                    <div class="card-wrapper card-space">
                        <div class="card card-bg no-after">
                            <div class="card-body">
                                <div class="row h-100">
                                    <div class="col-12 col-lg-6 pl-lg-4">
                                        <div class="callout danger">
                                            <div class="callout-title">
                                                @Model.Error
                                            </div>

                                            <p>
                                                @Model.ErrorDescription
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
